@import './base.css';

#app {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
  /* background: rgb(2, 1, 18);
  background: linear-gradient(0deg, rgba(2, 1, 18, 1) 0%, #6610f2 50%, #0d6EFD 100%); */
}
body {
  display: flex;
  /* justify-content: space-between; */
  place-items: center;
}


@media (hover: hover) {}

@media (min-width: 1024px) {
  

}